.body-contact {
    background-color: #f2f2f2;
  }
  
  .contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .contact-content {
    max-width: 800px;
    text-align: center;
  }
  
  .contact-h2 {
    font-size: 36px;
    font-weight: 500;
    color: #000000;
  }
  
  .contact-p {
    font-weight: 300;
    color: #000000;
  }
  
  .contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  
  .contact-box {
    position: relative;
    padding: 20px 0px;
    display: flex;
  }
  
  .contact-icon ion-icon {
    min-width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
  }
  
  .contact-text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #000000;
    flex-direction: column;
    font-weight: 300;
  }
  
  .contact-h3 {
    font-weight: bold;
    color: #000000;
  }
  
  .contact-form {
    width: 40%;
    padding: 40px;
    background: #fff;
  }
  
  .contact-form-h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
  }
  
  .contact-input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  
  .contact-input-box input {
    width: 100%;
    padding: 5px 0px;
    font-size: 16px;
    margin: 10px 0px;
    border: none;
    border-bottom: 2px solid #000000;
    outline: none;
    resize: none;
  }
  
  .contact-input-box textarea {
    width: 100%;
    padding: 5px 0px;
    font-size: 16px;
    margin: 10px 0px;
    border: none;
    border-bottom: 2px solid #000000;
    outline: none;
    resize: none;
  }
  
  .contact-input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0px;
    font-size: 16px;
    margin: 10px 0px;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
  }
  
  .contact-input-box input:focus ~ span,
  .contact-input-box input:valid ~ span,
  .contact-input-box textarea:focus ~ span,
  .contact-input-box textarea:valid ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
  }
  
  .btn-contacto {
    width: 100%;
    background: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
  }
  
  .body-contact-features {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .features-contact {
    margin-bottom: -185px;
    padding-bottom: 170px;
  }
  
  .loader {
    text-align: center;
  }
  
  @media (max-width: 991px) {
    .contact {
      padding: 50px;
    }
  
    .contact-container {
      flex-direction: column;
    }
  
    .contact-info {
      margin-bottom: 40px;
    }
  
    .contact-container .contact-info,
    .contact-form {
      width: 100%;
    }
  }
  
  @media (max-width: 500px) {
    .contact {
      padding: 50px 10px;
    }
  
    .contact-info {
      width: 100%;
    }
  }